.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-family: 'Mulish', sans-serif;
    font-size:x-large;
    transform: translate(10px, 4px);
    height: 50px;
    transition: height 2s;
}
.navbar-brand:hover {
    height: 80px;
}
.nav-link{
    font-family: 'Dancing Script', cursive;
    font-family: 'Mulish', sans-serif;
    transform: translate(150px, 4px);
}
.Resumen-Samuel {
    font-family: 'Dancing Script', cursive;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    margin-left: 10em;
    margin-right: 10em;
    text-align: justify;
}
@media (max-width: 576px) {
    .Resumen-Samuel{
    scroll-behavior: auto;
    margin-left: 3em;
    margin-right: 3em;
    }
    }
      
.row{
    display: flexbox;
    grid-template-columns: repeat(3, 1fr);
}
.col{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
}
.mb-3{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
}
.btn{
    margin-top: 3em;
}

